<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	
	<global-method-security pre-post-annotations="enabled"/>
<http auto-config="true">
<intercept-url pattern="/" access="permitAll"/>
<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')"/>
<intercept-url pattern="/user**" access="hasRole('ROLE_USER')"/>
<intercept-url pattern="/manager**" access="hasRole('ROLE_MANAGER')"/>

	</http>

	<authentication-manager>
	  <authentication-provider>
	    <user-service>
		<user name="user" password="123" authorities="ROLE_USER" />
		<user name="admin" password="123" authorities="ROLE_ADMIN"/>
		<user name="manager" password="123" authorities="ROLE_MANAGER"/>
	    </user-service>
	  </authentication-provider>
	</authentication-manager>

	
</beans:beans>